:root {
	--ff1: 'Allerta Stencil', sans-serif;
	--ff3: 'Orbitron', sans-serif;
}

.main {
	color: rgb(0, 0, 0);
	background: url(../img/img1.webp);
	box-shadow: inset 0 0 0 100vmax rgba(0, 0, 0, .05);
	background-repeat: repeat;
}

.my-date {
	display: grid;
	grid-template-columns: 2fr 3fr 2fr;
	grid-template-rows: repeat(3, 1fr);
	min-height: 100vh;
	height: auto;
}

.md-box {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px;

}

.md_container.odometer {
	display: flex;
	position: initial;
	width: 100%;
	height: 100%;
	align-items: center;
	justify-content: center;
	letter-spacing: 1px;
	line-height: 2.5;
	font-family: var(--ff3);
}

.md_container.odometer .odometer-inside {
	display: flex;
	flex-wrap: nowrap;
	text-shadow: 3px 1px 0 #00bcd4;
}


.md_container {
	font-size: clamp(1em, 5rem, 50px);
	color: #cd1100;
	text-shadow: 0 0 50px #fff;
	font-weight: 700;
	letter-spacing: 0.7rem;
	font-family: var(--ff1);
}

.md_container.s {
	font-size: clamp(1em, 3rem, 50px);
}

.md_container::before {
	position: absolute;
	left: 50%;
	top: 0;
	transform: translate(-50%, 0);
	content: attr(data-bg-value);
	font-size: clamp(1em, 5rem, 80px);
	color: purple;
	font-family: var(--ff1);
	line-height: 1;
	background: rgb(128, 0, 128);
	background: linear-gradient(45deg, rgb(1, 17, 135) 10%, #03A9F4 40%, transparent 90%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-shadow: none;
}

.greetings {
	color: transparent;
	text-transform: uppercase;
	text-shadow: 12px 12px 7px #4dd0e1;
	-webkit-text-stroke: 0.11rem #cd1100;
}

.form {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.form input {
	color: #cd1100;
	font-size: 25px;
	background: transparent;
	border: solid 2px #03A9F4;
	border-radius: 10px;
	padding: 7px;
}

.form input[type="date"]::-webkit-calendar-picker-indicator,
.form input[type="time"]::-webkit-calendar-picker-indicator {
	filter: invert(0.5) sepia(1) saturate(5) hue-rotate(175deg);
}

.form button {
	background: transparent;
	font-size: 18px;
	border: solid 2px #cd1100;
	border-radius: 7px;
	padding: 5px 0;
	font-weight: 800;
	color: #03A9F4;
	font-family: var(--ff1);
	text-transform: uppercase;
}

@media screen and (max-width: 1200px) {
	.my-date {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(4, 1fr);
		grid-auto-rows: 1fr;
	}

	.md-form {
		grid-area: 1/2/2/3;
	}

	.md-box_s {
		grid-area: 2/1/3/3;
	}
}

@media screen and (max-width: 768px) {
	.md_container {
		font-size: clamp(1em, 2.5rem, 50px);
	}

	.md_container.s {
		font-size: clamp(1em, 2em, 50px);
	}

	.md_container::before {
		font-size: clamp(1em, 3.5rem, 80px);
	}
}

@media screen and (max-width: 576px) {
	.my-date {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: none;
		grid-auto-rows: minmax(33vh, auto);
	}

	.md_container {
		font-size: clamp(1em, 3rem, 50px);
	}

	.md_container.s {
		font-size: clamp(1em, 2.3em, 50px);
	}

	.md_container::before {
		font-size: clamp(1em, 4.5rem, 80px);
	}

	.md-form {
		grid-area: 2;
	}

	.md-box_s {
		grid-area: 3;
	}

	.md-box_h {
		grid-area: 5;
	}

	.md-box_week {
		grid-area: 6;
	}

	.md-box_day {
		grid-area: 7;
	}
}
